<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Par</key>
		<integer>1</integer>
		<key>Obstacles</key>
		<array/>
		<key>Connections</key>
		<array>
			<dict>
				<key>PinIndex</key>
				<integer>2</integer>
				<key>BoxIndex</key>
				<integer>2</integer>
				<key>MaxLength</key>
				<integer>105</integer>
			</dict>
			<dict>
				<key>PinIndex</key>
				<integer>0</integer>
				<key>BoxIndex</key>
				<integer>0</integer>
				<key>MaxLength</key>
				<integer>125</integer>
			</dict>
			<dict>
				<key>PinIndex</key>
				<integer>1</integer>
				<key>BoxIndex</key>
				<integer>1</integer>
				<key>MaxLength</key>
				<integer>115</integer>
			</dict>
		</array>
		<key>Pins</key>
		<array>
			<dict>
				<key>pos</key>
				<array>
					<integer>110</integer>
					<integer>450</integer>
				</array>
				<key>wH</key>
				<array>
					<integer>10</integer>
					<integer>10</integer>
				</array>
			</dict>
			<dict>
				<key>pos</key>
				<array>
					<integer>160</integer>
					<integer>450</integer>
				</array>
				<key>wH</key>
				<array>
					<integer>10</integer>
					<integer>10</integer>
				</array>
			</dict>
			<dict>
				<key>pos</key>
				<array>
					<integer>210</integer>
					<integer>450</integer>
				</array>
				<key>wH</key>
				<array>
					<integer>10</integer>
					<integer>10</integer>
				</array>
			</dict>
		</array>
		<key>Platforms</key>
		<array>
			<dict>
				<key>Color</key>
				<integer>0</integer>
				<key>pos</key>
				<array>
					<integer>110</integer>
					<integer>50</integer>
				</array>
				<key>wH</key>
				<array>
					<integer>25</integer>
					<integer>10</integer>
				</array>
			</dict>
			<dict>
				<key>Color</key>
				<integer>1</integer>
				<key>pos</key>
				<array>
					<integer>160</integer>
					<integer>50</integer>
				</array>
				<key>wH</key>
				<array>
					<integer>25</integer>
					<integer>10</integer>
				</array>
			</dict>
			<dict>
				<key>Color</key>
				<integer>2</integer>
				<key>pos</key>
				<array>
					<integer>210</integer>
					<integer>50</integer>
				</array>
				<key>wH</key>
				<array>
					<integer>25</integer>
					<integer>10</integer>
				</array>
			</dict>
		</array>
		<key>Boxes</key>
		<array>
			<dict>
				<key>Color</key>
				<integer>0</integer>
				<key>pos</key>
				<array>
					<integer>130</integer>
					<integer>150</integer>
				</array>
				<key>wH</key>
				<array>
					<integer>25</integer>
					<integer>25</integer>
				</array>
			</dict>
			<dict>
				<key>Color</key>
				<integer>1</integer>
				<key>pos</key>
				<array>
					<integer>160</integer>
					<integer>150</integer>
				</array>
				<key>wH</key>
				<array>
					<integer>25</integer>
					<integer>25</integer>
				</array>
			</dict>
			<dict>
				<key>Color</key>
				<integer>2</integer>
				<key>pos</key>
				<array>
					<integer>190</integer>
					<integer>150</integer>
				</array>
				<key>wH</key>
				<array>
					<integer>25</integer>
					<integer>25</integer>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Par</key>
		<integer>1</integer>
		<key>Obstacles</key>
		<array>
			<dict>
				<key>points</key>
				<array>
					<string>10,0</string>
					<string>0,10</string>
					<string>-10,0</string>
					<string>0,-10</string>
				</array>
				<key>pos</key>
				<array>
					<integer>190</integer>
					<integer>150</integer>
				</array>
			</dict>
		</array>
		<key>Connections</key>
		<array>
			<dict>
				<key>PinIndex</key>
				<integer>0</integer>
				<key>BoxIndex</key>
				<integer>0</integer>
				<key>MaxLength</key>
				<integer>125</integer>
			</dict>
			<dict>
				<key>PinIndex</key>
				<integer>1</integer>
				<key>BoxIndex</key>
				<integer>0</integer>
				<key>MaxLength</key>
				<integer>145</integer>
			</dict>
		</array>
		<key>Pins</key>
		<array>
			<dict>
				<key>pos</key>
				<array>
					<integer>160</integer>
					<integer>450</integer>
				</array>
				<key>wH</key>
				<array>
					<integer>10</integer>
					<integer>10</integer>
				</array>
			</dict>
			<dict>
				<key>pos</key>
				<array>
					<integer>190</integer>
					<integer>450</integer>
				</array>
				<key>wH</key>
				<array>
					<integer>10</integer>
					<integer>10</integer>
				</array>
			</dict>
		</array>
		<key>Platforms</key>
		<array>
			<dict>
				<key>Color</key>
				<integer>1</integer>
				<key>pos</key>
				<array>
					<integer>20</integer>
					<integer>50</integer>
				</array>
				<key>wH</key>
				<array>
					<integer>45</integer>
					<integer>10</integer>
				</array>
			</dict>
		</array>
		<key>Boxes</key>
		<array>
			<dict>
				<key>Color</key>
				<integer>1</integer>
				<key>pos</key>
				<array>
					<integer>160</integer>
					<integer>220</integer>
				</array>
				<key>wH</key>
				<array>
					<integer>50</integer>
					<integer>50</integer>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
